/*homepage css documenet*/

.navbarcolor {
    background-color: #4A4A4A
}

.footerstyle {
    text-align: center;
    font-size: 12px;
    padding: 3%;
}

.background {
    background-color: #3782B8;
    padding-bottom: 2%;
    justify-content: center;
}

/*contains information for stretching*/
.bodybackground {
    background-color: white;
    box-shadow: 0px 0px 5px black;
    width: min(1000px, 90%);
}

.stretchnav {
    width: min(700px, 5%);
}

.paragraphformat {
    padding-left: 5%;
    padding-right: 5%;
}

/*for heading 6*/
.headingformat {
    padding-left: 5%;
    padding-right: 5%;
}

.heading3format {
    padding-left: 5%;
    padding-right: 5%;
}


